* {
    color:#7F7F7F;
    font-family:Arial,sans-serif;
    font-size:12px;
    font-weight:normal;
}    
#config{
    overflow: auto;
    margin-bottom: 10px;
}
.config{
    float: left;
    width: 200px;
    height: 250px;
    border: 1px solid #000;
    margin-left: 10px;
}
.config .title{
    font-weight: bold;
    text-align: center;
}
.config .barcode2D,
#miscCanvas{
  display: none;
}
#submit{
    clear: both;
}
#barcodeTarget,
#canvasTarget{
  margin-top: 20px;
}  
div.barcodeDiv {
    height: 21cm;
    width: 29.7cm;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    outline: 2px dashed blue;
  }


  